<link rel="stylesheet" href="/css/home.css">

<div class="container">
    <div id="left-div">
        <h3>Posts</h3>

        <!-- show posting form only if user is signed in -->
        <% if (locals.user) { %>
          <form action="/posts/create" id="new-post-form" method="POST" class="mb-3">
            <div class="form-group">
              <textarea class="form-control" name="content" rows="5" placeholder="Start typing here ..." required></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Post</button>
          </form>
        <% } %>

        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>
                  <li>
                    <div class="card mb-3">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-2">
                            <img src="https://w7.pngwing.com/pngs/419/473/png-transparent-computer-icons-user-profile-login-user-heroes-sphere-black-thumbnail.png" alt="Author Profile Photo" class="img-fluid rounded-circle">
                          </div>
                          <div class="col-md-10">
                            <div class="d-flex justify-content-between align-items-center">
                              <h6 class="card-subtitle mb-2 text-muted"><%= post.user.name %></h6>
                              <button class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="fa-solid fa-trash"></i></button>
                            </div>
                            <p class="card-text"><%= post.content %></p>
                            <div class="row">
                              <div class="col-md-6">
                                <button class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-heart"></i> Like</button>
                                <button class="btn btn-sm btn-outline-secondary ms-2" data-bs-toggle="collapse" data-bs-target="#commentsCollapse-<%= post.id %>" aria-expanded="false" aria-controls="commentsCollapse-<%= post.id %>"><i class="fa-solid fa-comment"></i> Comment</button>
                              </div>
                              <div class="col-md-6 text-md-end">
                                <small class="text-muted">Posted on: <%= post.createdAt.toISOString().substr(0,10) %></small>
                              </div>
                            </div>
                            <div id="posts-list-container">
                                <div class="collapse mt-3" id="commentsCollapse-<%= post.id %>">
                                  <div class="card">
                                    <div class="card-body">
                                      <h6 class="card-title">Comments</h6>
                                      <% if (locals.user) { %>
                                        <form action="/comments/create" method="POST" class="mb-3">
                                          <div class="form-group d-flex">
                                            <input type="text" class="form-control" name="post_content" placeholder="Type here to add a comment..." required>
                                            <input type="hidden" name="post_id" value="<%= post._id %>">
                                            <button type="submit" class="btn btn-primary ms-4">Comment</button>
                                          </div>
                                        </form>
                                      <% } %>
                                        <div class="post-comments-list">
                                          <ul id="post-comments-<%= post._id %>" class="list-group">
                                            <% for (comment of post.comments) { %>
                                              <li id="comment-<%= comment._id %>" class="list-group-item">
                                                <div class="d-flex justify-content-between align-items-center">
                                                  <div>
                                                    <h6 class="mb-0 small text-muted"><%= comment.user.name %></h6>
                                                  </div>
                                                  <div>
                                                    <button class="btn btn-sm btn-danger"><i class="fa-solid fa-trash fa-xs"></i></button>
                                                  </div>
                                                </div>
                                                <p class="mb-0 font-weight-bold"><%= comment.content %></p>
                                              </li> 
                                            <% } %>
                                          </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <hr>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                <% } %>
            </ul>
        </div>

    </div>

    <div id="right-div">
      <h1>What is Lorem Ipsum?</h1>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
    </div>
</div>